{% extends 'base.html.twig' %}

{% block title %}New Trotti{% endblock %}

{% block body %}
    <h1>Create new Trotti</h1>

    {{ include('trotti/_form.html.twig') }}

    <a href="{{ path('trotti_index') }}">back to list</a>
{% endblock %}
